[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Reboot
Comment=Restart the machine safely
Exec=/sbin/reboot
Icon=reboot_icon
Terminal=false
Categories=Utility;
StartupNotify=true
